<div class="app-pane__nav">
  <nav class="app-navigation govuk-clearfix">
    <ul class="app-navigation__list govuk-width-container">
      <%= main_navigation %>
      <%= static_navigation %>
    </ul>
  </nav>
</div>
