<div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full govuk-text">
    <button name="format" value="xlsx" class="copy govuk-button govuk-!-margin-bottom-1 export-to-xlsx" data-module="govuk-button">
      Export to .xlsx file
    </button>
    <button name="format" value="ods" class="copy govuk-button govuk-!-margin-bottom-1 export-to-ods" data-module="govuk-button">
      Export to .ods file
    </button>
    <span class="govuk-!-margin-left-1">or</span>
    <a href="" class="govuk-!-font-size-16 govuk-!-padding-1 govuk-!-margin-bottom-1 remove-all">Remove all</a>
  </div>
</div>
