<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav role="navigation" aria-label="Pagination">
      <ul class="pagination govuk-!-margin-top-0 left">
        <%= paginate @results, previous_label: ' ', next_label: ' '  %>
      </ul>
      <div class="govuk-body govuk-!-font-size-16 pagination__summary govuk-!-margin-top-2 right">
        <%= page_entries_info @results %>
      </div>
    </nav>
  </div>
</div>
