<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav role="navigation" aria-label="Pagination">
      <div class="govuk-body govuk-!-font-size-14 pagination__summary govuk-!-margin-bottom-0">
        <%= page_entries_info @results %>
      </div>
      <ul class="pagination govuk-!-margin-top-0">
        <%= paginate @results, previous_label: ' ', next_label: ' '  %>
      </ul>
    </nav>
  </div>
</div>
