<div class="card govuk-!-width-full">
  <a href="<%= url_for(result) %>" class="card__body">
    <span class="govuk-!-font-weight-bold govuk-!-font-size-19 govuk-!-margin-bottom-0 govuk-!-display-inline">
      <%= result.name %>
    </span>
    <span class="float-right govuk-!-display-inline">
      <strong class="govuk-tag">
        <%= search_category_tag(result) %>
      </strong>
    </span>
  </a>
  <div class="card__footer govuk-body govuk-!-font-size-14">
    <p class="govuk-!-font-size-14 govuk-!-margin-bottom-2"><%= result.description %></p>
  </div>
</div>
