<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m govuk-!-display-inline">
      Results for '<%= params[:search] %>'
    </h1>
  </div>

  <div class="govuk-grid-column-one-third right">
    <div class="govuk-form-group govuk-!-display-inline-block right">
      <label class="govuk-label govuk-!-display-inline govuk-!-padding-right-2" for="sort">
        Sort by
      </label>
      <select class="govuk-select govuk-!-display-inline" id="sort" name="sort">
        <option value="published">Recently added</option>
        <option value="updated">Recently updated</option>
        <option value="relevance" selected="">Relevance</option>
        <option value="az">A - Z</option>
      </select>
    </div>
  </div>
</div>

<%= render 'pagination' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render partial: "result", collection: @results %>
  </div>
</div>

<%= render 'pagination' %>
