<% if flash.alert %>
  <div class="govuk-error-message">
    <%= flash.alert %>
  </div>
<% end %>
<% if flash.notice %>
  <div class="govuk-alert-message">
    <%= flash.notice %>
  </div>
<% end %>
