<div class="<%= wrap_class %>">
  <%= link_to dataset.name, dataset_path(dataset), class: "govuk-body strong_link" %>
  <p class="govuk-!-font-size-16 govuk-!-margin-top-1"><%= dataset.description %></p>
</div>
