<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-2 govuk-!-margin-bottom-5 govuk-panel govuk-panel--alert">
    <h2 class="govuk-heading-s"><%= t('datasets.index.not-available.title') %></h2>

    <p class="govuk-panel__body govuk-!-font-size-16">
    <%= t(
      'datasets.index.not-available.content',
      link: link_to(t('datasets.index.not-available.link'), Rails.configuration.outgoing_links.dig('applying_for_access'))
    ).html_safe %>
    </p>
  </div>
</div>
