<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag ">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      <%= t('beta_banner.text',
            link: link_to(t('beta_banner.link'),
                          'https://forms.gle/SzUbPugFPGoRWiX89',
                          class: 'govuk-link')).html_safe %>
    </span>
  </p>
</div>
