<div class="govuk-grid-row save-to-list-title">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Variables
    </h2>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-0">
      <%= t('saved_data.instructions') %>
    </div>
  </div>
</div>
<div class="govuk-grid-row" id="save-to-list-header">
  <div class="govuk-grid-column-one-third">
    <button id="save-to-list" disabled aria-disabled="true" class=" govuk-button" data-module="govuk-button">
      <%= t('saved_data.button') %>
    </button>
  </div>
</div>
