<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">
      Variables
    </h2>
    <button id="govuk-button" disabled="" aria-disabled="true" class=" govuk-button" data-module="govuk-button">
      <%= t('saved_data.button') %>
    </button>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text">
      <%= t('saved_data.instructions') %>
    </div>
  </div>
</div>
