<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="/search" method="get" novalidate data-search-form=true>
      <input type="hidden" name="sort" id="search_sort" value="<%= params[:sort] || 'relevant' %>">
      <div class="govuk-form-group">
        <label class="govuk-label" for="search">
          Search
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="search" name="search" type="text" value="<%= params[:search] %>">
        <button type="submit" class="govuk-button govuk-button-search">Search</button>
      </div>
    </form>
  </div>
</div>
