<ul class="soft-pagination-links">
  <li class="pagination__item soft-pagination__item prev">
    <a rel="prev" class="pagination__link" href="?page=prev">‹ Prev</a>
  </li>
  <li class="pagination__item soft-pagination__item page">
    <a rel="prev" aria-current="false" class="pagination__link" href="?page=0">1</a>
  </li>
  <li class="pagination__item soft-pagination__item next">
    <a rel="next" class="pagination__link" href="?page=next">Next ›</a>
  </li>
</ul>
