<div class="how-to-access govuk-!-padding-top-4 govuk-!-padding-left-4 govuk-!-padding-right-4 govuk-!-padding-bottom-2 govuk-!-margin-bottom-4">
  <h2 class="govuk-heading-s"><%= t('saved_data.copy_title') %></h2>
  <p class="govuk-panel__body govuk-!-font-size-16"><%= t('saved_data.copy_instructions') %></p>
</div>
