<% content_for(:title) do %>
  <%= t(
    'administrate.actions.new_resource',
    name: display_resource_name(page.resource_name).titleize
  ) %>
<% end %>

<div class="govuk-grid-row govuk-!-margin-top-0">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0 govuk-!-margin-bottom-5">
    <%= render 'shared/admin/header' %>

    <section class="main-content__body main-content__body--flush">
      <%= render "form", page: page %>
    </section>
  </div>
</div>
