<%= content_for :additional_links do %>
  <%= javascript_pack_tag 'navigation' %>
<%- end %>

<% @title = 'Cookies' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Cookies
    </h1>
  </div>

  <hr class="govuk-grid-column-full govuk-section-break govuk-section-break--l  govuk-section-break--visible ">

  <div class="govuk-grid-column-two-thirds">
    <p>Find and explore puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>

    <p>These cookies are used to:

    <ul class="govuk-list govuk-list--bullet">
      <li>Measure how you use the website so it can be updated and improved based on your needs </li>
      <li>Remember the notifications you’ve seen so that we don’t show them to you again</li>
    </ul>

    <p>The cookies aren’t used to identify you personally. You’ll normally see a message on the site before we store a cookie on your computer.</p>

    <p>Find out more <a href="http://www.bbc.co.uk/webwise/guides/about-cookies" target="_blank" rel="external" data-outgoing-link=true data-outgoing-page="BBC Cookies Page">about cookies</a>.</p>

    <h2 class="govuk-heading-m">How cookies are used on this website</h2>

    <p>We use Google Analytics software to collect information about how you use this website. We do this to help make sure the site is meeting the needs of its users and to help us make improvements, for example improving the site structure and information architecture. We also send cross-domain tracking information to GOV.UK to help us understand and monitor performance data across multiple public services.</p>

    <p>Google Analytics stores information about:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>The pages you visit on this website</li>
      <li>How long you spend on each page</li>
      <li>How you got to the site</li>
      <li>What you interact with while you are visiting the site</li>
    </ul>

    <p>We don’t collect or store your personal information (for example your name or address) so this information can’t be used to identify who you are.</p>

    <p>We don’t allow Google to use or share our analytics data.</p>

    <p>Google Analytics sets the following cookies:</p>

    <table class="govuk-table govuk-!-font-size-16">
      <caption class="govuk-table__caption">Google analytics default cookies</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
          <th scope="col" class="govuk-table__header">Purpose</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_ga</th>
          <td class="govuk-table__cell">This helps us count how many people visit the site by tracking if you’ve visited before</td>
          <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_gat</th>
          <td class="govuk-table__cell">Used to manage the rate at which page view requests are made</td>
          <td class="govuk-table__cell">10 minutes</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_gid</th>
          <td class="govuk-table__cell">Used to distinguish users</td>
          <td class="govuk-table__cell">24 hours</td>
        </tr>
      </tbody>
    </table>

    <p><a href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="external" data-outgoing-link=true data-outgoing-page="GA Opt Out">You can opt out of Google Analytics cookies</a>.</p>

    <table class="govuk-table govuk-!-font-size-16">
      <caption class="govuk-table__caption">Find and explore cookies</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
          <th scope="col" class="govuk-table__header">Purpose</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Expires</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">_npd_find_and_explore_session</th>
          <td class="govuk-table__cell">A session cookie for remembering login details</td>
          <td class="govuk-table__cell">When browser is closed</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-e0133a5f" data-module="gem-toggle">
        <ul class="gem-c-related-navigation__link-list govuk-list govuk-!-font-size-16" data-module="track-click">
          <li><%= link_to 'Privacy', page_path(:privacy) %></li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
