<%# TODO: page title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%# TODO: fix link %>
    <form class="form" action="/new-form/step-2" method="post">

      <div class="govuk-form-group">

        <h1 class="govuk-heading-xl">
          <%= t('site_title') %>
        </h1>

        <p>Search 22 million records stored in the national pupil database.</p>

        <p>You can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>search for data from 1995 to today</li>
          <li>provide feedback on data descriptions</li>
          <li>find out what data will be added in the future</li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--xl  govuk-section-break--visible govuk-grid-column-full">

        <h2 class="govuk-heading-m">More information</h2>

        <p>Accredited researchers and third-party researchers can apply for access to data.</p>

        <%# TODO: fix link %>
        <p>Data can be accessed through the Office for National Statistics’ <a href="">Secure Research Service</a>.</p>

        <h2 class="govuk-heading-m">Other ways to explore the data</h2>

        <%# TODO: fix link %>
        <p>Download the <a href="">2018 version of the data table</a>.</p>

        <%# TODO: fix link %>
        <p>Contact us for help at <a href="mailto:data.sharing@education.gov.uk">data.sharing@education.gov.uk</a></p>
        <p>Emails are monitored Monday to Friday, 9am to 5pm</p>
      </div>


      <%# TODO: fix link %>
      <%= link_to categories_path, role: "button", draggable:"false", class: "govuk-button govuk-button--start" do %>
        Start now
      <% end %>

    </form>
  </div>

  <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
      <%# TODO fix styling %>
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <%# TODO: fix link %>
              <a class="govuk-link" href="#">
                An introduction to the National Pupil Database
              </a>
            </li>
            <li>
              <%# TODO: fix link %>
              <a class="govuk-link" href="#">
                Apply for National Pupil Database data
              </a>
            </li>
            <li>
              <%# TODO: fix link %>
              <a href="#" class="govuk-link">
                Become an ONS accredited researcher
              </a>
            </li>
            <li>
              <%# TODO: fix link %>
              <a href="#" class="govuk-link">
                Register to become an approved research centre
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
</div>