<table aria-labelledby="<%= table_title %>" class="govuk-!-margin-top-0 govuk-!-margin-bottom-5">
  <tbody>
    <% resources.each do |resource| %>
      <%= render 'admin/concepts/resource', resource: resource, collection_presenter: collection_presenter %>
    <% end %>
  </tbody>
</table>
