// Cards - Adapted from Home Office
.card {
  display: block;
  float: left;
  margin-bottom: 10px;
}

.card__body {
  display: block;
  background-color: govuk-colour("mid-grey");
  padding: 1em;
  text-decoration: none;

  span {
    display: block;
  }

  .float-right {
    float: right;
  }
}

a.card__body {
  color: $govuk-link-colour;

  &:hover,
  &:focus {
    cursor: pointer;
    text-decoration: none;
  }
}

.card__footer {
  display: block;
  background-color: govuk-colour("light-grey");
  padding: 1em;
}
