.govuk-checkboxes--small {
  .govuk-checkboxes__item {
    margin-bottom: 0;
    min-height: 20px;
    padding: 0;
  }

  .govuk-checkboxes__input + .govuk-checkboxes__label::before
  {
    height: 20px;
    left: 0;
    top: 1px;
    width: 20px;
  }

  .govuk-checkboxes__input + .govuk-checkboxes__label::after
  {
    border-width: 0 0 3px 3px;
    height: 4px;
    left: 4px;
    top: 5px;
    width: 9px;
  }

  &.collapsible.collapsed {
    height: 9rem;
    overflow: hidden;
  }
}

.govuk-checkboxes__label-hidden {
  display: none;
}
