.pagination {
  padding: 0;
  text-align: right;

  .pagination_list-items {
    li {
      display: inline-block;

      a {
        color: govuk-colour("blue");
        display: inline-block;
        padding: 15px 5px 10px 5px;
        margin-right: 15px;
        text-decoration: none;

        &:focus {
          outline: 0;
        }
      }

      &.active a,
      &.active a:hover {
        -moz-box-shadow: inset 0 -5px 0 0 govuk-colour("blue");
        -webkit-box-shadow: inset 0 -5px 0 0 govuk-colour("blue");
        box-shadow: inset 0 -5px 0 0 govuk-colour("blue");
        color: govuk-colour("blue");
      }
    }
  }
}

.pagination__item {
  display: inline-block;
  list-style: none;
}

.pagination__link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;

  &:hover,
  &:focus {
    background: govuk-colour("grey-4");
    outline: 3px solid $govuk-focus-colour;
  }

  &.current {
    color: $govuk-text-colour;
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;

    &:hover,
    &:focus {
      color: $govuk-text-colour;
      background: none;
    }
  }
}

.pagination__summary {
  padding: 8px 0;

  @media (min-width: 642px) {
    float: left;
  }
}
