.govuk-form__inline {
  display: inline-block;
  float: right;
  height: 50px;
  margin: -5px 0 0 0;
  min-width: 250px;
  padding: 0px;
  text-align: right;
}

.govuk-input__search-bar {
  max-width: 210px;
  padding-left: 10px;
}

.expand, .collapse {
  color: govuk-colour('blue');
  display: block;
  text-decoration: underline;
}
