.sticky-page-header {
  background-color: govuk-colour('white');
  position: sticky;
  top: 0;
  z-index: 4;
}

.sticky-data-elements-header th {
  background-color: govuk-colour('white');
  padding: .4em .6em .3em 0;
  position: sticky;
  top: 3.6rem;
  z-index: 1;
}
