.variable-description {
  background: govuk-colour('light-grey');
  margin-bottom: -10px !important;
  margin-top: -10px;
  padding: 1em .5em;
}

th.govuk-table__header:nth-child(2) {
  max-width: 400px;
  word-break: break-all;
}

table td .tooltip {
  display: none;
}

.govuk-table__header--numeric {
  white-space: nowrap;
}

.govuk-table__cell--numeric {
  word-break: break-word;
}

.govuk-table__cell--break {
  word-break: break-all;
}

.govuk-table__cell--no-break {
  word-break: keep-all;
  overflow-wrap: normal;
}

.govuk-table__cell--50 {
  width: 55%;
}

@include govuk-media-query($until: tablet) {
  table thead {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
  }

  table td,
  table th {
    border-bottom: 1px solid govuk-colour('mid-grey');
    display: block;
    min-height: 1.2em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
  }

  table td .tooltip {
    display: inline-block;
    left: -50%;
    position: relative;
  }

  table td .tooltip, h2 .tooltip {
    .tooltip-top-left {
      left: -50px;
    }

    .tooltip-top-right {
      left: -50px;
    }

    .tooltip-bottom-left {
      left: -50px;
    }
  }

  .variable-description {
    border-bottom: 0;
    margin: 0;
    margin-bottom: 2em !important;
    text-align: left;
  }
}
