// we're starting from scratch, so use global styles
// https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/installing-with-npm.md#global-styles
$govuk-global-styles: true;
$govuk-assets-path: '../../../node_modules/govuk-frontend/govuk/assets/';
@import "node_modules/govuk-frontend/govuk/all";
@import "colours";
@import "related-items";
@import "tooltip";
@import "overlay";
@import "pagination";
@import "cards";
@import "buttons";
@import "search";
@import "tables";
@import "checkboxes";
@import "collapsible";
@import "step-by-step-navigation";
@import "main_navigation";
@import "npd-basket";
@import "npd-modal";
@import "sticky";

// visually hide text, let screen readers see it
.screen-reader-text {
  opacity: 0;
  position: absolute;
  top: -100px;
  left: -100px;
}

.card__tag {
  position: relative;
  top: 1em;
  right: 0.5em;
  text-align: right;
}

// Custom styles to refactor somewhere
.strong_link {
  font-weight: bold;
}

.govuk-top-border {
  border-top: govuk-spacing(2) solid govuk-colour('blue');
}

.govuk-background__gray-4 {
  background-color: govuk-colour("light-grey");
}

.govuk-\!-display-inline-block {
  display: inline-block !important;
}

.how-to-access {
  background-color: $govuk-brand-colour;

  p, a, h2 {
    color: govuk-colour('white');
  }
}

.govuk-panel--alert {
  background: govuk-colour('red');
  text-align: left;
  padding: 10px !important;

  .govuk-panel__body, h2, a {
    color: govuk-colour('white');
  }

  a {
    font-weight: bold;
  }

  p {
    margin-bottom: 0;
  }
}

.right {
  text-align: right;
}

.navbar-list {
  text-align: right;

  li {
    display: inline-block;

    a {
      color: govuk-colour("white");
      display: inline-block;
      padding: 15px 5px 10px 5px;
      margin-right: 15px;
      text-decoration: none;

      &:hover {
        -moz-box-shadow: inset 0 -1px 0 0 govuk-colour("white");
        -webkit-box-shadow: inset 0 -1px 0 0 govuk-colour("white");
        box-shadow: inset 0 -1px 0 0 govuk-colour("white");
        color: govuk-colour("white");
      }
    }
  }
}

.govuk-alert-message {
  clear: both;
  color: govuk-colour('yellow');
  display: block;
  font-family: "nta",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 15px;
}

@media (min-width: 40.0625em) {
  .govuk-grid-column-same-height {
    min-height: 19em;
  }
}

@media (min-width: 760px) {
  .govuk-grid-column-same-height {
    min-height: 16em;
  }
}

@media (min-width: 860px) {
  .govuk-grid-column-same-height {
    min-height: 15em;
  }
}

@media (min-width: 960px) {
  .govuk-grid-column-same-height {
    min-height: 14em;
  }
}

@media (min-width: 1000px) {
  .govuk-grid-column-same-height {
    min-height: 12em;
  }
}

.codeset {
  span.codeset-specification {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }
}

.staging-warning {
  background-color: $govuk-focus-colour;
  border: 1px solid $govuk-input-border-colour;
  margin-top: .5rem;
  padding: .5rem;
  text-align: center;
}

.govuk-border-box {
  border: 1px solid $govuk-input-border-colour;
  margin: .5rem;
  padding: .5rem;
}

.govuk-form-group--warning {
  border-left: 5px solid govuk-colour('orange');
  padding-left: 15px;
}

.govuk-form-group--warning .govuk-form-group {
  border: 0;
  padding: 0;
}

.govuk-warning-message {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  clear: both;
  color: govuk-colour('orange');
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 15px;
}

.govuk-text {
  font-family: "nta", Arial, sans-serif;
}

@media print {
  .govuk-warning-message {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .govuk-warning-message {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .govuk-warning-message {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.inline-form {
  display: inline-block;
}

.js-table-row-inactive {
  color: govuk-colour('dark-grey');

  a {
    color: govuk-colour('dark-grey');
  }
}

.govuk-category-card {
  min-height: 10rem;
}

@media (max-width: 930px) {
  .govuk-category-card {
    min-height: 13rem;
  }
}

@media (max-width: 700px) {
  .govuk-category-card {
    min-height: 16rem;
  }
}

@media (max-width: 640px) {
  .govuk-category-card {
    min-height: auto;
  }
}

.right, .float-right {
  float: right;
}

.left {
  float: left;
}

.invisible {
  height: 0;
  opacity: 0;
  transition-property: opacity, height;
  transition-duration: 2s;

  div {
    height: inherit;
    opacity: inherit;
  }
}

.visible {
  height: 100%;
  opacity: 1;
  transition-duration: 2s;
  transition-property: opacity, height;

  div {
    height: inherit;
    opacity: inherit;
  }
}

.govuk-light-grey {
  background-color: govuk-colour('light-grey');
}


.field-unit__field {
  width: 80% !important;
}

.force-break {
  word-break: break-all;
}

.tail-select-container.select-label .select-handle {
  display: block;
  width: fit-content;
}

.govuk-\!-width-one-tenth {
  width: 10% !important;
}

.govuk-\!-width-two-tenths {
  width: 20% !important;
}

.govuk-\!-width-three-tenths {
  width: 30% !important;
}

.govuk-\!-width-four-tenths {
  width: 40% !important;
}

.govuk-\!-width-five-tenths {
  width: 50% !important;
}

.govuk-\!-width-six-tenths {
  width: 60% !important;
}

.govuk-\!-width-seven-tenths {
  width: 70% !important;
}

.govuk-\!-width-eight-tenths {
  width: 80% !important;
}

.govuk-\!-width-nine-tenths {
  width: 90% !important;
}

.app-contact-panel {
  margin-top: 40px;
  padding-top: 15px;
  border-top: 2px solid #1d70b8
}

@media (min-width: 40.0625em) {
  .app-contact-panel {
    margin-top:60px
  }
}

.app-contact-panel__heading, .app-contact-panel__body, .app-contact-panel__link {
  max-width: 100%
}

.app-contact-panel__heading {
  padding-top: 10px
}

.app-contact-panel__heading:first-child {
  padding-top: 0
}

.app-contact-panel__body:last-child {
  margin-bottom: 0
}

.success-message {
  border: 5px;
  border-style: solid;
  border-color: #28a197;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 6px;
}
