// we're starting from scratch, so use global styles
// https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/installing-with-npm.md#global-styles
$govuk-global-styles: true;
$govuk-assets-path: '../../../node_modules/govuk-frontend/assets/';
@import "node_modules/govuk-frontend/all";
@import "_related-items";
@import "_tooltip";

// Custom styles to refactor somewhere
.strong_link {
  font-weight: bold;
}

.govuk-background__gray-4 {
  background-color: govuk-colour("grey-4");
}
