// we're starting from scratch, so use global styles
// https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/installing-with-npm.md#global-styles
$govuk-global-styles: true;
$govuk-assets-path: '../../../node_modules/govuk-frontend/govuk/assets/';
@import "node_modules/govuk-frontend/govuk/all";
@import "colours";
@import "related-items";
@import "tooltip";
@import "overlay";
@import "pagination";
@import "cards";
@import "buttons";
@import "search";
@import "tables";
@import "checkboxes";
@import "collapsible";
@import "step-by-step-navigation";
@import "main_navigation";
@import "npd-basket";
@import "npd-modal";
@import "sticky";
@import "govuk-overrides";
@import "govuk-flashes";

// visually hide text, let screen readers see it
.screen-reader-text {
  opacity: 0;
  position: absolute;
  top: -100px;
  left: -100px;
}

.card__tag {
  position: relative;
  top: 1em;
  right: 0.5em;
  text-align: right;
}

.hidden {
  display: none;
}

// Custom styles to refactor somewhere
.strong_link {
  font-weight: bold;
}

.how-to-access {
  background-color: $govuk-brand-colour;

  p, a, h2 {
    color: govuk-colour('white');
  }
}

.navbar-list {
  text-align: right;

  li {
    display: inline-block;

    a {
      color: govuk-colour('white');
      display: inline-block;
      padding: 15px 5px 10px 5px;
      margin-right: 15px;
      text-decoration: none;

      &:hover {
        -moz-box-shadow: inset 0 -1px 0 0 govuk-colour('white');
        -webkit-box-shadow: inset 0 -1px 0 0 govuk-colour('white');
        box-shadow: inset 0 -1px 0 0 govuk-colour('white');
        color: govuk-colour('white');
      }
    }
  }
}

.codeset {
  span.codeset-specification {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }
}

.staging-warning {
  background-color: $govuk-focus-colour;
  border: 1px solid $govuk-input-border-colour;
  margin-top: .5rem;
  padding: .5rem;
  text-align: center;
}

.inline-form {
  display: inline-block;
}

.js-table-row-inactive {
  color: govuk-colour('dark-grey');

  a {
    color: govuk-colour('dark-grey');
  }
}

.right {
  text-align: right;
}

.float-right {
  float: right;
}

.left {
  text-align: left;
}

.float-left {
  float: left;
}

.invisible {
  height: 0;
  opacity: 0;
  transition-property: opacity, height;
  transition-duration: 2s;

  div {
    height: inherit;
    opacity: inherit;
  }
}

.visible {
  height: 100%;
  opacity: 1;
  transition-duration: 2s;
  transition-property: opacity, height;

  div {
    height: inherit;
    opacity: inherit;
  }
}

.field-unit__field {
  width: 80% !important;
}

.force-break {
  word-break: break-all;
}

.no-break {
  word-break: keep-all;
  white-space: nowrap;
}

.tail-select-container.select-label .select-handle {
  display: block;
  width: fit-content;
}

.app-contact-panel {
  margin-top: 40px;
  padding-top: 15px;
  border-top: 2px solid #1d70b8
}

@media (min-width: 40.0625em) {
  .app-contact-panel {
    margin-top:60px
  }
}

.app-contact-panel__heading, .app-contact-panel__body, .app-contact-panel__link {
  max-width: 100%
}

.app-contact-panel__heading {
  padding-top: 10px
}

.app-contact-panel__heading:first-child {
  padding-top: 0
}

.app-contact-panel__body:last-child {
  margin-bottom: 0
}

.success-message {
  border: 5px;
  border-style: solid;
  border-color: #28a197;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 6px;
}

.truncate {
  width: 6em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 760px) {
  .truncate {
    width: 8em;
  }
}

@media (min-width: 860px) {
  .truncate {
    width: 14em;
  }
}

@media (min-width: 960px) {
  .truncate {
    width: 16em;
  }
}

@media (min-width: 1000px) {
  .truncate {
    width: 20em;
  }
}
