@import "node_modules/govuk-frontend/govuk/helpers/colour";
@import "colours";

.typeahead-standalone {
  width: fit-content;

  .tt-hint {
    display: none;
  }

  .tt-list {
    width: inherit !important;
    min-width: 200px !important;
    left: 2px !important;
    top: 2em !important;
    word-break: keep-all;

    .tt-suggestion {
      height: 2em !important;
      padding-top: 0.3em !important;

      &:hover, &.tt-selected {
        background-color: govuk-colour('mid-grey') !important;
      }
    }
  }
}
