<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div id="form-group" class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="upload-file-hint upload-file-error" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Please upload a Data Table
          </h1>
        </legend>
        <%= form_with url: '/admin/do_import.js', method: :post, remote: true do |f| %>
          <label class="govuk-label" for="file-upload">
            <span class="govuk-body-l">Data Table file in Excel format</span>
          </label>
          <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file">
          <p id="upload-file-error" class="govuk-error-message govuk-!-margin-top-2">
            <span class="govuk-visually-hidden">Error:</span>
            <span class="message"></span>
          </p>
          <p id="upload-file-success" class="govuk-inset-text govuk-visually-hidden">
            The file was processed and uploaded successfully
          </p>
          <div class="govuk-box" id="govuk-box-message" aria-busy="true"></div>
          <button type="submit" class="govuk-button">Upload</button>
        <%- end %>
      </fieldset>
    </div>
  </div>
</div>
