<div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-s">
    <%= label %>
    <%= render 'tooltip', id: id, tooltip: tooltip, label: label %>
  </h2>
  <p>
    <%= value %>
  </p>
</div>
