<div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-s">
    <%= label %>
    <span class="tooltip">
      <a href="#8" class="help" aria-describedby="data-tip" title="Help">?</a>
      <span class="visuallyhidden tooltip-content tooltip-top-left" role="tooltip" id="data-tip">
        <%= tooltip %>
      </span>
    </span>
  </h2>
  <p>
    <%= value %>
  </p>
</div>
