<br />
<h2 class="" id="page-subtitle">Data Table Uploads</h2>
<table aria-labelledby="data_table_uploads">
  <%= render 'thead' %>
  <%= render 'tbody', resources: @data_table_uploads %>
</table>

<br />
<h2 class="" id="page-subtitle">Information Architecture Uploads</h2>
<table aria-labelledby="inf_arch_uploads">
  <%= render 'thead' %>
  <%= render 'tbody', resources: @inf_arch_uploads %>
</table>
