<tbody>
  <% resources.each do |resource| %>
    <tr class="js-table-row" tabindex="0">
      <td class="cell-data cell-data--<%#= attribute.html_class %>">
        <%= resource.file_name %>
      </td>
      <td class="cell-data cell-data--<%#= attribute.html_class %>">
        <%= resource.admin_user&.email %>
      </td>
      <td class="cell-data cell-data--<%#= attribute.html_class %>">
        <%= I18n.localize(resource.created_at.in_time_zone('GB'), format: :default ) %>
      </td>
      <td>
        <% if resource.data_table.attached? %>
          <%= link_to 'Download', url_for(resource.data_table), class: 'govuk-button' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
