<% content_for(:title) do %>
  <%= t('admin.uploads.title') %>
<% end %>

<%= render 'shared/admin/header' %>

<section class="main-content__body main-content__body--flush">
  <div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full govuk-!-margin-top-0 govuk-!-margin-bottom-5">
      <%= render 'collection' %>
    </div>
  </div>
</section>
