<% content_for(:title) do %>
  Reindex Categories
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    <%= content_for(:title) %>
  </h1>
</header>

<fieldset class="govuk-fieldset govuk-!-margin-2" aria-describedby="reindex-hint reindex-error" role="group">
  <div id="form-group" class="govuk-form-group<%= success == false ? ' govuk-form-group--error' : '' %>">
    <%= form_with url: reindex_admin_categories_path, method: :post, id: 'reindex-form', data: { remote: false } do |f| %>
      <% if success == false -%>
        <p id="reindex-error" class="govuk-error-message govuk-!-margin-top-2">
          <span class="govuk-visually-hidden">Error:</span>
          <span class="message"><%= error %></span>
        </p>
      <% elsif success -%>
        <p id="reindex-success" class="govuk-inset-text">
          The categories were reindexed correctly
        </p>
      <% end -%>
      <button type="submit" class="govuk-button" id="submit-reindex">Reindex Categories</button>
    <%- end %>
  </div>
</fieldset>
