<% new_rows = loader.new_rows %>

<div id="step-by-step-navigation" class="js-enabled app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
  <ol class="app-step-nav__steps">
    <li class="app-step-nav__step js-step" id="check-youre-allowed-to-drive">
      <div class="app-step-nav__header js-toggle-panel" data-position="1">
        <h2 class="app-step-nav__title">
          <span class="app-step-nav__circle app-step-nav__circle--number">
            <span class="app-step-nav__circle-inner">
              <span class="app-step-nav__circle-background">
                <span class="govuk-visually-hidden">Added</span> +
              </span>
            </span>
          </span>

          <span class="js-step-title">
            <button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-prepare-to-apply-1">
              <span class="js-step-title-text">
                <% if new_rows.count == 0 -%>
                  No new data elements to add
                <%- else %>
                  <%= new_rows.count %> data elements will be added:
                <%- end %>
              </span>
              <span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">
                Show
              </span>
            </button>
          </span>
        </h2>
      </div>
      <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-prepare-to-apply-1">
        <% if new_rows.count == 0 -%>
          No new data elements to add
        <%- else %>
          <ul>
            <% new_rows.each do |row| %>
              <li><%= row %></li>
            <% end %>
          </ul>
        <%- end %>
      </div>
    </li>
  </ol>
</div>
