<div class="<%= wrap_class %>">
  <%= link_to concept.name, concept_path(concept), class: "govuk-body strong_link" %>
  <p class="govuk-!-font-size-16 govuk-!-margin-top-1"><%= searchable_description(concept) %></p>
</div>
