<div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-margin-bottom-0">
  <div class="govuk-grid-column-full govuk-!-margin-top-0 govuk-!-margin-bottom-0 flex-pagination govuk-body-s">
    <%= paginate resources, param_name: '_page' %>
    <span class="page-entries-info">
      <%= page_entries_info resources %>
    </span>
  </div>
</div>
