<header class="main-content__header govuk-!-padding-left-0 govuk-!-border-0" role="banner">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
    <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-1" id="page-title">
      <%= content_for(:title) %>
    </h1>
    <% if content_for?(:subtitle) %>
      <p class="govuk-body govuk-!-margin-top-5">
        <%= content_for(:subtitle) %>
      </p>
    <% end %>
    <%= render 'admin/application/flashes' %>
  </div>
</header>
