@import "node_modules/tail.select/css/default/tail.select-light";

.navigation__link--secondary {
  font-size: small;
  margin-left: 1em !important;
}

.main-content__header {
  .button {
    color: white;
  }
}
